<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить объявление</title>
</head>
<body>
<h2>Введите информацию о товаре</h2>
<div class="product-form">
    <form th:action="@{/product/create}" th:method="post" th:object="${product}">
        <div>
            <div>
                Название объявления: <input type="text" name="name">
            </div>
            <div>
                Описание: <input type="text" name="description">
            </div>
            <div>
                Цена: <input type="number" name="price">
            </div>
            <div>
                <select required name="city">
                    <option th:each="city : ${cities}" th:text="${city.name}">
                </select>
            </div>
            <div>
                Ваше имя: <input type="text" name="author">
            </div>
            <div>
                <button type="submit">Добавить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>