<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}" autocomplete="off">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}" autocomplete="off">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>